# EN .ENV
DB_HOST=localhost
DB_PORT=your_database_port
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
--------------------------------------------------------------
# EN TERMINAL

# En LINUX/UBUNT
# Copy and pase this at the endo of your nano ~/.bashrc and save 
export DB_HOST=localhost
export DB_PORT=your_database_port
export DB_NAME=your_database_name
export DB_USER=your_database_user
export DB_PASSWORD=your_database_password

# En Windows
$env:DB_HOST="localhost"
$env:DB_PORT="your_database_port"
$env:DB_NAME="your_database_name"
$env:DB_USER="your_database_user"
$env:DB_PASSWORD="your_database_password"